<a href="https://colab.research.google.com/github/ArielleKann/Arielle_Kann/blob/master/cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns 


df = pd.read_csv("https://raw.githubusercontent.com/ArielleKann/Data/main/cars.csv")
df.head()

  Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0  STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,...
1  Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3...
2  Buick Skylark 320,15.0,8,350.0,165.0,3693.,11....
3  Plymouth Satellite,18.0,8,318.0,150.0,3436.,11...
4  AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US

In [63]:
df.isnull().sum()

INDEX                    0
TARGET                   0
FixedAcidity             0
VolatileAcidity          0
CitricAcid               0
ResidualSugar          616
Chlorides              638
FreeSulfurDioxide      647
TotalSulfurDioxide     682
Density                  0
pH                     395
Sulphates             1210
Alcohol                653
LabelAppeal              0
AcidIndex                0
STARS                 3359
dtype: int64

In [65]:
df.nunique()

INDEX                 12795
TARGET                    9
FixedAcidity            470
VolatileAcidity         815
CitricAcid              602
ResidualSugar          2077
Chlorides              1663
FreeSulfurDioxide       999
TotalSulfurDioxide     1370
Density                5933
pH                      497
Sulphates               630
Alcohol                 401
LabelAppeal               5
AcidIndex                14
STARS                     4
dtype: int64

In [74]:
df.describe()

       Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
count                                                 407
unique                                                407
top     Buick Century Special,20.6,6,231.0,105.0,3380....
freq                                                    1

In [ ]:
sns.catplot(data=df, kind='box', height=4, aspect=2)

In [ ]:
sns.catplot(x= 'INDEX', data=df , kind='count' , height=3, aspect=1.1)

In [ ]:
df.hist(figsize=(15, 10), bins=20, xlabelsize=10, ylabelsize=10)